flow.json
[{"id":"6d3d7606.2e955","type":"tab","label":"Smart socket - prese intelligenti (?)","disabled":false,"info":""},{"id":"db82fb58.c2167","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"43a61171.c59e5","type":"ui_group","z":"","name":"Prese smart","tab":"40fd8baf.3d2234","disp":true,"width":"6","collapse":true},{"id":"40fd8baf.3d2234","type":"ui_tab","z":"","name":"Smart home","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"c1264783.4af0e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c7e7cb4c.933b38","type":"debug","z":"6d3d7606.2e955","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":560,"wires":[]},{"id":"5fa8fb06.6d6c94","type":"inject","z":"6d3d7606.2e955","name":"","topic":"power","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":460,"wires":[["44b2e78c.25a758"]]},{"id":"2e4b63ed.e8007c","type":"inject","z":"6d3d7606.2e955","name":"","topic":"power","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":420,"wires":[["44b2e78c.25a758"]]},{"id":"44b2e78c.25a758","type":"Sonoff device","z":"6d3d7606.2e955","mode":"0","broker":"db82fb58.c2167","device":"presab","name":"presab","onValue":"ON","offValue":"OFF","cmdPrefix":"cmnd","statPrefix":"stat","telePrefix":"tele","x":380,"y":440,"wires":[[]]},{"id":"4f25e756.b6af8","type":"status","z":"6d3d7606.2e955","name":"","scope":["44b2e78c.25a758"],"x":220,"y":520,"wires":[["c4937107.a4a07"]]},{"id":"c4937107.a4a07","type":"function","z":"6d3d7606.2e955","name":"Filtra status","func":"msg.payload=msg.status.text;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["c7e7cb4c.933b38","c6d6a910.9e63f","a6d8382.2cf28c8"]]},{"id":"430368f0.989608","type":"debug","z":"6d3d7606.2e955","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":300,"wires":[]},{"id":"7779c561.536704","type":"inject","z":"6d3d7606.2e955","name":"","topic":"power","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["e5870b33.2deae8"]]},{"id":"ad187102.efb5d","type":"inject","z":"6d3d7606.2e955","name":"","topic":"power","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":160,"wires":[["e5870b33.2deae8"]]},{"id":"e5870b33.2deae8","type":"Sonoff device","z":"6d3d7606.2e955","mode":"0","broker":"db82fb58.c2167","device":"presaa","name":"presaa","onValue":"ON","offValue":"OFF","cmdPrefix":"cmnd","statPrefix":"stat","telePrefix":"tele","x":380,"y":180,"wires":[[]]},{"id":"b5cb7f2e.47299","type":"status","z":"6d3d7606.2e955","name":"","scope":["e5870b33.2deae8"],"x":220,"y":260,"wires":[["a5c88d65.87b248"]]},{"id":"a5c88d65.87b248","type":"function","z":"6d3d7606.2e955","name":"Filtra status","func":"msg.payload=msg.status.text;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["430368f0.989608","46782b8e.3783fc","6820ead.9769614"]]},{"id":"c5ce62bd.d5a5b","type":"ui_button","z":"6d3d7606.2e955","name":"","group":"43a61171.c59e5","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"OFF","color":"","bgcolor":"","icon":"fa-toggle-off","payload":"OFF","payloadType":"str","topic":"power","x":220,"y":120,"wires":[["e5870b33.2deae8"]]},{"id":"ca558f56.cfbf","type":"ui_button","z":"6d3d7606.2e955","name":"","group":"43a61171.c59e5","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"ON","color":"","bgcolor":"","icon":"fa-toggle-on","payload":"ON","payloadType":"str","topic":"power","x":220,"y":80,"wires":[["e5870b33.2deae8"]]},{"id":"62a42e13.ee7218","type":"ui_button","z":"6d3d7606.2e955","name":"","group":"43a61171.c59e5","order":8,"width":"1","height":"1","passthru":false,"label":"","tooltip":"OFF","color":"","bgcolor":"","icon":"fa-toggle-off","payload":"OFF","payloadType":"str","topic":"power","x":230,"y":380,"wires":[["44b2e78c.25a758"]]},{"id":"236254d8.0e1de4","type":"ui_button","z":"6d3d7606.2e955","name":"","group":"43a61171.c59e5","order":7,"width":"1","height":"1","passthru":false,"label":"","tooltip":"ON","color":"","bgcolor":"","icon":"fa-toggle-on","payload":"ON","payloadType":"str","topic":"power","x":230,"y":340,"wires":[["44b2e78c.25a758"]]},{"id":"c6d6a910.9e63f","type":"ui_switch","z":"6d3d7606.2e955","name":"Presa B status","label":"Presa B","tooltip":"","group":"43a61171.c59e5","order":5,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"yellow","offvalue":"Off","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"grey","x":600,"y":480,"wires":[[]]},{"id":"46782b8e.3783fc","type":"ui_switch","z":"6d3d7606.2e955","name":"Presa A status","label":"Presa A","tooltip":"","group":"43a61171.c59e5","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"yellow","offvalue":"Off","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"grey","x":600,"y":220,"wires":[[]]},{"id":"6820ead.9769614","type":"ui_switch","z":"6d3d7606.2e955","name":"Presa A online","label":"","tooltip":"","group":"43a61171.c59e5","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Online","onvalueType":"str","onicon":"fa-wifi","oncolor":"green","offvalue":"Offline","offvalueType":"str","officon":"fa-wifi","offcolor":"red","x":600,"y":260,"wires":[[]]},{"id":"a6d8382.2cf28c8","type":"ui_switch","z":"6d3d7606.2e955","name":"Presa B online","label":"","tooltip":"","group":"43a61171.c59e5","order":6,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Online","onvalueType":"str","onicon":"fa-wifi","oncolor":"green","offvalue":"Offline","offvalueType":"str","officon":"fa-wifi","offcolor":"red","x":600,"y":520,"wires":[[]]}]